.searchBar {
    margin-right: auto;
    float: right;
    margin-top: 2%;
}

.searchBar input {
    border-radius: 10px;
    width: 500px;
    align-items: center;
}

.logoImg {
    height: 50px;
    width: 50px;
}

.navbar {
    height: 80px;
}

.logoText {
    font-variant: small-caps;
    font-size: 25px;
    text-shadow: 2px 2px #FF0000;
}